/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

pre,
code {
  font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

a {
  font-size: 12px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol,a {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure,a {
  margin-bottom: 20px;
}


/*Reset Again */
/* CSS Document */

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}

h1, h2, h3, h4, h5, h6, p, li, blockquote, td, th, a, caption, em, strong, strike { 

	font-size:100%;
	font-weight: normal;
	font-style: normal;
	line-height: 100%; 
	text-indent: 0;
	text-decoration: none;
	text-align: left;
	color: #000;
	}

/*Headings*/
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

h1 { font-size:24px; }
h2 { font-size:20px; }
h3 { font-size:16px; }
h4 { font-size:14px; }
h5 { font-size:14px; }
h6 { font-size:14px; }


/*Text elements*/
p           	{ color:#B5B5B5; font-size:12px; line-height:150%;
					margin:15px 0;  }
p .left			{ margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p .right 		{ margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a           	{   }
a:link			{ color: #000;  }
a:visited		{ color: #000;  }
a:active		{ color: #000;  }
a:focus			{ color: #000;  }
a:hover     	{ color: #002C5B;  }

blockquote  	{ color:#000; font-size:12px; }

strong      	{
	font-weight: bold;
	color: #000000;
}
em		      	{ font-style: italic; }


/*Global*/
html {}
body {	
	background-image:url(../images/background/bgrounoptimzed.jpg);
	position:relative;
	background-color:  #000;
	background-position:top center;
	background-repeat:no-repeat;
	margin:0px auto;
	width:auto;
	}


/*CSS3 FontFace*/
@font-face {
    font-family: 'Droid';
    src: url('../fonts/Chunkfive-webfont.eot');
    src: url('../fonts/DroidSans.ttf') format('truetype'),
         url('../fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
