<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>user.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>user.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>user.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>product.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductName</servlet-name>
        <servlet-class>product.addCompanyName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCompany</servlet-name>
        <servlet-class>product.addCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategory</servlet-name>
        <servlet-class>product.addCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSubCategory</servlet-name>
        <servlet-class>product.addSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSubCategory</servlet-name>
        <servlet-class>product.getSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_logoutServlet</servlet-name>
        <servlet-class>loginRegister._logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProductFilterServlet</servlet-name>
        <servlet-class>product.viewProductFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeMyPass</servlet-name>
        <servlet-class>loginRegister.changeMyPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProductSubCategory</servlet-name>
        <servlet-class>product.getProductSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeProductStatus</servlet-name>
        <servlet-class>orders.changeProductStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>loginRegister.admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductServlet</servlet-name>
        <servlet-class>product.addProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAnAdministrator</servlet-name>
        <servlet-class>admin.addAnAdministrator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeCompany</servlet-name>
        <servlet-class>product.removeCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeSubCategory</servlet-name>
        <servlet-class>product.removeSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeCategory</servlet-name>
        <servlet-class>product.removeCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductName</servlet-name>
        <url-pattern>/addProductName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCompany</servlet-name>
        <url-pattern>/addCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategory</servlet-name>
        <url-pattern>/addCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSubCategory</servlet-name>
        <url-pattern>/addSubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSubCategory</servlet-name>
        <url-pattern>/getSubCategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>controller.addToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginRegister.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>loginRegister.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeMyPassword</servlet-name>
        <servlet-class>loginRegister.changeMyPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeCartProduct</servlet-name>
        <servlet-class>product.removeCartProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCompanyNames</servlet-name>
        <servlet-class>product.addProductPack.getCompanyNames</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeMyPassword</servlet-name>
        <url-pattern>/changeMyPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeCartProduct</servlet-name>
        <url-pattern>/removeCartProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCompanyNames</servlet-name>
        <url-pattern>/getCompanyNames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_logoutServlet</servlet-name>
        <url-pattern>/_logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProductFilterServlet</servlet-name>
        <url-pattern>/viewProductFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeMyPass</servlet-name>
        <url-pattern>/changeMyPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProductSubCategory</servlet-name>
        <url-pattern>/getProductSubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeProductStatus</servlet-name>
        <url-pattern>/changeProductStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductServlet</servlet-name>
        <url-pattern>/addProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAnAdministrator</servlet-name>
        <url-pattern>/addAnAdministrator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeCompany</servlet-name>
        <url-pattern>/removeCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeSubCategory</servlet-name>
        <url-pattern>/removeSubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeCategory</servlet-name>
        <url-pattern>/removeCategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error_500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error_403.jsp</location>
    </error-page>
</web-app>
